@tailwind base;
@tailwind components;
@tailwind utilities;

.book_card {
  width: 100%;
  max-width: 20rem;
  max-height: 400px;
}
.book_card_img {
  width: 100%;
  height: 80%;
}
.book_card_img img {
  width: 100%;
  height: 100%;
}

.book_shelves {
  min-width: 30vh;
}
